$background-color: #55423d;
$main-text-color: #fffffe;
$font-fam: 'font-family: Georgia, " Times New Roman ", Times, serif;';
$button-color: #ffc0ad;
$button-hover-color: #ff8c71;
$button-text-color: #271c19;
$login-register-card-color: #271c19;
$navbar-color: #271c19;
$cart-bg-color: #fffffe;
$summary-container-color: #271c19;
$product-card-color: #271c19;

.prodCard {
    background-color: $login-register-card-color;
    color: $main-text-color;
    width: 100%;
}
