@import "variables";

.cart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainContent {
        display: flex;

        .cartSummary {
            width: 30%;
            padding: 10px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $main-text-color;
            background-color: $login-register-card-color;
            border-radius: 30px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            margin: 2rem 0;
        }
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 20px;
        color: $main-text-color;
    }

    .total {
        font-size: 2rem;
        margin-bottom: 20px;
        color: $main-text-color;
    }

    .cartItems {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .cartItem {
            width: 30rem;
            height: 15rem;
            background-color: $main-text-color;
            color: black;
            border-radius: 30px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            margin: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .imageContainer {
                height: 100%;
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .body {
                height: 100%;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1rem;
            }

            .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 0;
            }

            img {
                width: 100px;
                height: auto;
            }
        }
    }
}
