@import "variables";

#homePageContainer {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-text-color;
    width: 90%;
    max-width: 120rem;

    .welcomeUser {
        font-size: 2.5rem;
        font-weight: 700;
        background: linear-gradient(
            to right,
            $main-text-color-left,
            $main-text-color-right
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }

    .filters {
        width: 100%;
        max-width: 100rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .textSearch {
            width: 20rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            Button {
                background: linear-gradient(
                    to right,
                    $button-color-left,
                    $button-color-right
                );
                color: $button-text-color;
                border: none;
                border-radius: 25px;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .searchBar {
                width: 80%;
            }
        }

        .dropdowns {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;

            .dropdown {
                width: 20rem;
            }
        }
    }

    .productTable {
        margin-top: 3rem;
        padding: 1rem;
        margin-bottom: 3rem;
        border-radius: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: $main-text-color;
        background-color: $navbar-color;
        width: 100%;
        max-width: 110rem;

        .productCard {
            display: flex;
            justify-content: space-around;
            width: 45%;
            margin: 1rem;
            height: 25rem;
            background-color: $product-card-color;
            border-radius: 30px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            transition: 0.3s;

            &:hover {
                transform: scale(1.02);
            }

            .productImg {
                width: 240px;
                height: auto;
                border-radius: 10px;
                margin: 2rem 0;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 180px;
                    height: auto;
                    border-radius: 10px;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                width: 55%;
                margin: 2rem 0;

                .prodName {
                    font-size: 2rem;
                    font-weight: 400;
                    background: linear-gradient(
                        to right,
                        $main-text-color-left,
                        $main-text-color-right
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }

                .category {
                    font-size: 1.2rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                }

                .description {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 2rem;
                }

                .priceStock {
                    margin: 1rem 0;
                    display: flex;
                    width: 100%;
                    justify-content: space-around;

                    .price {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }

                    .tag {
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }

                Button {
                    padding: 0.5rem 1rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    cursor: pointer;
                    background: linear-gradient(
                        to right,
                        $button-color-left,
                        $button-color-right
                    );
                }
            }
        }

        @media (max-width: 971px) {
            .productCard {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .details {
                    width: 100%;
                    text-align: center;
                    align-items: center;
                }
            }
        }
    }
}
