@import "variables";

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

body {
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font_fam;
    height: 98vh;
}
