@import "variables";

.ordersPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .ordersHeader {
        font-size: 2.5rem;
        font-weight: 700;
        background: linear-gradient(
            to right,
            $main-text-color-left,
            $main-text-color-right
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 3.5rem;
        margin: 4rem 0;
    }

    .mainContent {
        display: flex;
        width: 90%;
        height: 100%;
        max-width: 120rem;
        justify-content: center;
        background-color: $cart-table-color;
        padding: 3rem;
        border-radius: 100px;
        margin: 2rem 0;

        .ordersContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 3rem;

            .orderDetails {
                height: 100%;
                width: 50%;
                color: $main-text-color;
            }
            .orderItems {
                height: 100%;
                width: 50%;
                color: $main-text-color;
            }
        }
    }
}
