@import "variables";

#signUpPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    width: 50%;
    min-width: 30rem;
    color: $main-text-color;
    margin-bottom: 5rem;

    Button {
        background: linear-gradient(
            to right,
            $button-color-left,
            $button-color-right
        );
        color: $button-text-color;
        margin-top: 30px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;
        width: 150px;

        &:hover {
            transform: scale(1.1);
        }
    }

    .registrationContainer {
        background-color: $login-register-card-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        margin-top: 60px;
        padding: 20px;
        width: 80%;
        min-width: 30rem;

        .registerHeader {
            background: linear-gradient(
                to right,
                $main-text-color-left,
                $main-text-color-right
            );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 3.5rem;
        }

        Form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            width: 100%;

            .formFieldGroup {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .formField {
                    margin: 20px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .label {
                        font-size: 1.8rem;
                    }
                }
            }

            Button {
                background: linear-gradient(
                    to right,
                    $button-color-left,
                    $button-color-right
                );
                color: $button-text-color;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.3s;
                width: 200px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .success {
            color: green;
            font-size: 1.5rem;
            margin-top: 20px;
        }

        .error {
            color: red;
            font-size: 1.5rem;
            margin-top: 20px;
        }
    }
}
