@import "variables";

#unauthorizedPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-text-color;
    font-size: 1.5rem;
}
